 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><i class="fa fa-mobile fa-2x"></i> (83) 9 9996-0733</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#download">Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Horários</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#opa">Mapa</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>   

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="header-content">
                        <div class="header-content-inner">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/assets/logo.png" class="img-responsive" alt="logo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Nade, corra, pedale... </h1>
                            <h1>Movimente-se!</h1><br>
                            <h3 align="justify">A Tarso Matos Assessoria Esportiva desenvolve programas personalizados de treinamento e condicionamento físico</h3><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="download" class="download bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading text-center">Faça parte desse grupo</h2><br>
                    <p align="justify">A Tarso Matos Assessoria Esportiva, pioneira na Paraíba, foi criada em Janeiro de 1999. Nossa Assessoria oferece serviços relacionados à saúde, qualidade de vida e performance. Nosso maior compromisso é estar presente no dia-a-dia dos nossos alunos, promovendo treinos de qualidade, convívio social e motivação para atletas de todas as idades.</p>
                    <p>Nossos atletas, amadores ou profissionais, de todas as idades e características, são orientados por intermédio de planilhas individuais de treinamento e acompanhamento dos grupos de forma organizada, eficiente e profissional, respeitando a individualidade e objetivos pessoais.</p>
                </div>
                <div class="col-md-12 text-left">
                    <br><p>Oferecemos</p>
                    <ul class="fa-ul">
                      <li><i class="fa-li fa fa-circle"></i>Treinos diários com excelente estrutura e acompanhamento profissional pela orla de João Pessoa</li>
                      <li><i class="fa-li fa fa-circle"></i>Parceria com profissionais multidisciplinares, como nutricionistas e avaliadores físicos</li>
                      <li><i class="fa-li fa fa-circle"></i>Acompanhamento em provas nacionais e internacionais com toda nossa estrutura de apoio</li>
                      <li><i class="fa-li fa fa-circle"></i>Treinamento especializado para meias maratonas e maratonas</li>
                      <li><i class="fa-li fa fa-circle"></i>Treinamento especializado para triatletas</li>
                      <li><i class="fa-li fa fa-circle"></i>Aulas de alongamento</li>
                      <li><i class="fa-li fa fa-circle"></i>Exercício funcional</li>
                    </ul>
                </div>    
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Esportes e Horários</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="feature-item">
                                    <i class="fa fa-life-ring"></i>
                                    <h3>Natação no Mar</h3>
                                    <p class="text-muted">Sexta as 6h.</p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="feature-item">
                                    <i class="fa fa-bicycle"></i>
                                    <h3>Ciclismo e MTB</h3>
                                    <p class="text-muted">Terças, quintas e sábados as 6h.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="feature-item">
                                    <i class="fa fa-road"></i>
                                    <h3>Corrida de Rua</h3>
                                    <p class="text-muted">Segundas, quartas e sábados as 6h e terças e quintas as 19h.</p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="feature-item">
                                    <i class="fa fa-plus-circle"></i>
                                    <h3>Treinos Funcinais e Alongamento</h3>
                                    <p class="text-muted">Funcional: terças e sextas as 6h e segunda e quartas as 19h. Alongamentos em horários variados.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Google Maps -->
    <section id="opa" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d722.9020272985763!2d-34.830520860946486!3d-7.103910136270655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7acdd174e41cf49%3A0xf44ecb2ba22b016!2zQcOnYcOtIGRhIFByYWlh!5e0!3m2!1spt-BR!2sus!4v1492188947561"></iframe>
        <br />
        <small>
            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d722.9020272985763!2d-34.830520860946486!3d-7.103910136270655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7acdd174e41cf49%3A0xf44ecb2ba22b016!2zQcOnYcOtIGRhIFByYWlh!5e0!3m2!1spt-BR!2sus!4v1492188947561"></a>
        </small>
    </section>

    <!-- Social -->
    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>Nós <i class="fa fa-heart"></i> novos amigos!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="https://instagram.com/assessoriatarsomatos" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="https://www.facebook.com/assessoria.tarsomatos" target="_blank"><i class="fa fa-facebook"></i></a>
                </li> <br><br><br>
            </ul>
                    <h3><i class="fa fa-mobile fa-2x" style="color:white"></i> (83) 9 9996-0733</h3>
        </div>
    </section>

    <!-- Rodapé -->
    <footer>
        <div class="container">
            <p>&copy; 2017 - Tarso Matos Assessoria Esportiva. Todos os direitos reservados.</p>
        </div>
    </footer>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    
    (function($) {
    "use strict"; // Start of use strict

    // jQuery for page scrolling feature - requires jQuery Easing plugin
    $(document).on('click', 'a.page-scroll', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: ($($anchor.attr('href')).offset().top - 50)
        }, 1250, 'easeInOutExpo');
        event.preventDefault();
    });

    // Highlight the top nav as scrolling occurs
    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 100
    });

    // Closes the Responsive Menu on Menu Item Click
    $('.navbar-collapse ul li a').click(function() {
        $('.navbar-toggle:visible').click();
    });

    // Offset for Main Navigation
    $('#mainNav').affix({
        offset: {
            top: 50
        }
    })

})(jQuery); // End of use strict

</script>



