<!DOCTYPE html>
<html lang="pt-br">
	<head>
        <meta name="google-site-verification" content="b_YyPYF3hXZY9EmBMFSur8bplY_ThMbNTJ1G-OsFzLk" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Tarso Matos Assessoria Esportiva</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
  		<meta name="description" content="">
        <meta name="keywords" content="corrida, bicicleta, bike, natação, triatlon">
        <meta name="ROBOTS" content="index,follow">
        <meta name="GOOGLEBOT" content="INDEX, FOLLOW"> 
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
	    <!-- Custom Fonts -->
    	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    </head>
	<body id="page-top">		
		<%= yield %>
    </body>
    
</html>


